  *{
    padding: 0;
    margin: 0;
  }
  /*   header  #######-----------$$$$$$$$ 部分*/
  header .bgc{  
    background-color: #333;
  }
  header img{
    height: 62px;
    border-radius: 50%;
    margin-left: 10px;
  }
  header nav .day{
    margin-left: 300px;
    color: #9932cd;
    font-size: 20px;
  }
  header nav ul{
    position:absolute; /* 相对定位 */
    top:0;
    right:20px;
  }

  nav ul li{
    text-align: center;
  width:80px;
    display: block;
  border-left:1px solid #999; 
    float:left; 
    padding:20px 10px;
  }
  header nav ul li a{
    text-decoration:none;/* 去掉链接默认的下划线 */
    color:white;
    font-size:16px;
  }
  header nav ul li:hover{
  border-bottom: 1px solid red;  /*1px值的红色下划线*/
    background: #474747;
  border-radius: 3px;/*圆角 */

  }

    /* 主体部分------******------------*/


  .article{
    width: 100%;
    height: 1000px;
    padding: 80px;
    font: 18px/1.5 'Microsoft YaHei';
    background-repeat: no-repeat;       /* 背景图片不重复 */
    /*background-attachment: fixed;        /* 相对固定 */
    background-position: center center;   /* 对称 */
    background-size: cover;           /* 平铺 */
  }

  .section1{
  background-image: url("http://zhinian.info/images/lu.jpeg");
  }
  .section2{
  background-image: url( "http://zhinian.info/images/pc.jpg");
  }
  .section3{
    background-image:url(http://zhinian.info/images/future.jpeg);
  }
  .section4{
  background-image: url(http://zhinian.info/images/bir.jpg);
  }

  .title{
  font: 32px/1.5 '微软雅黑';
  position: relative;
  top: 100px;
  text-align: center; 
  text-shadow: 2px 2px 10px #000;
  }
  .content{
  position: relative;
  top: 160px;
  font-size: 26px;
  }
  .section1 .title{
  color: #d98719;
  font-size: 50px;
  top: 140px;
  }
  .section1 .title p{
  color: white;
  font-size: 20px;
  }

  .section2 .title{
  color: #6b8e23;
  font-size: 40px;
  top: 60px;
  right: 25%;
  }

  .section3 .title{
    top:20px;
  color: black;
  font-size: 40px;
  }
  .section2 .c-2{
    margin-left: 0px;   
    top: 80px;
  }
 
  hr{
    height: 1px;
    margin: 0 10%;
    border-top:3px solid #3299cc;
  }

/*  ---------work 部分---------------*/
  .my-work-all{
    margin: 30px 0 0 0;
    width: 100%;
    position: absolute;
    padding: 0;
  }
  .my-works{
    display:inline-block;
    position: relative;
    margin: 5px 0 5px -20px ;
    opacity: 0.6;
  }
  .my-work-mask {   /* 相当于是一个遮罩层 */
    width: 320px;
    height: 180px;
    background-color: #222;
    opacity: 0;     /* 透明度, 0是全透明, 1是不透明 */
    z-index: 1;
    position: relative;
    transition: all ease 0.5s;  /* transition 属性名  持续时间  速度曲线 何时开始*/
  }
  .my-work-mask .fa {
    margin: 70px 140px;
    color: #fff;
  }
  .my-work-mask:hover{
    opacity: .8;
    cursor: pointer; /* 鼠标的显示 */
  }



  .my-work-pic {
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .my-work-pic .img {
    width: 320px;
    height: 180px;
  }

  .my-work-caption {
    background-color: #222;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 50px;
    width: 320px;
    padding: 12px;
  }

  .help{  
    color: #32cd32;
    font-size: 16px;
    text-align: center;

  }
/*************************底部************************************************/

footer{
    width:100%;
    height:50px;
    background:black;
    color:white;
    text-align:center;
    line-height:50px;
    font-size:14px;
}












