body{
	background-color:#3299cc;
}
img{
	width: 168px;
	height: 133px;
}
#tishi{
	border: 1px;
	font-size: 30px;
	color: blue;
	text-align: center;

}
#biaoyu{
	font-size: 20px;
	color: red;
	text-align: left;
}
#xuanpai{
	text-align:center;
	border: 2px ;
}
#chupai{
	text-align:center;
	border: 2px;
	width: 140;

}
.repeat{
	background-color: #0f0;
}