    .dm{
   	    margin: 20px;
	    text-align: center;
    }

    .dm_dis{
  	    border: 1px solid #ccc;	
    }

    .dm .dm_dis .dm_mask{
	    height: 400px;
    }

    .s_txt{
  	    height: 34px;
	    width: 388px;
	    border-radius: 3px;
	    border: 1px solid rgb(204, 204, 204);
    }

    .s_sub{
	    color: orange;
	    border:1px solid orange;
	    height: 35px;
	    width: 159px;
	    font-size: 14px;
	    background-color: white;	
	    border-radius: 3px;
    }

    .s_del{
	    color: red;
	    border:1px solid red;
	    height: 35px;
	    width: 159px;
	    background-color: white;
	    border-radius: 3px;
    }


